body {
    font-family: var(--fonte-principal);
    color: #333333;
}

main {
    padding: 2.5rem 0 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}

@media (max-width:1280px) {
    main{
        padding: 0.625rem;
    }
}

.btn {
    font-size: 1.25rem;
    width:10.0625rem;
    height: 3rem;
    border-radius: 25px;
    color: #FFFFFF;
    font-weight: 400;
    padding: 0.625rem 0.625rem;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #FFFFFFFf;
    line-height: 23px;
}

.btn-filled {
    background-color: #FFFFFf;
    color: #6329A2;
}

.btn:hover {
    background-color: #6329A2;
    color: #FFFFFFFf;
    border-color: #6329A2;
}

