body{
		font-family: var(--fonte-principal);
		color: #333333;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 30px;
    border-radius: 50px;
    color: #FFFFFFFF;
    font-weight: 400;
    padding: 10px 10px;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid #FFFFFFFf;
    line-height: 23px;
}

.btn-filled{
    background-color: #FFFFFFFf;
    color:#6329A2;
}

.btn:hover{
    background-color: #6329A2;
    color: #FFFFFFFf;
    border-color: #6329A2;
}

