.header {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.225rem 1.25rem;
}

.hero-content h2{
    font-size: 1.87rem;
    margin-bottom: 0.5rem;
    margin: 0 0 0.5rem;
}

.logo img {
    height: 48px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a,
.nav-right a {
    color: rgb(100, 1, 180);
    font-size: 1.25rem;
}

.nav-center a:hover,
.nav-right a:hover {
    color: rgb(255, 0, 64);
    font-size: 1.25rem;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right a:hover img {
    opacity: 0.7;
}