.header{
    background-color: rgb(0, 255, 255);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
}

.logo img{
    height: 40px;
}

.nav-center ul{
    display: flex;
    list-style: none;
    gap: 2.5rem;}

    .nav-center a:hover,
    .nav-after-center a:hover{
        color: rgb(255, 0, 0);
    }

.nav-after-center img:hover{
    opacity: 0.7;
    }