.hero-section {
    background: url(../../images/banners/hero.jpg)no-repeat center;
    background-size: cover;

    position: relative;
    height: 500px;
    border-radius: 20px;
}

.hero-overlay {
    width: 94%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4.0rem;
}

.hero-content {
    color: #FFFFFFFF;
    max-width: 360px;
    text-align: center;
}

.hero-buttons {
    gap: 0px;
}



.hero-content .hero-title {
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;

    letter-spacing: 3px;
    line-height: 36px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}